@model List<Usuarios>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form class="logueo">
        <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="email" class="form-control" id="usuarioIngreso" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Nunca comparta sus datos.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="passIngreso">
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</body>

</html>
